# dependencies
node_modules/

# env files
.env
backend/.env
frontend/.env

# build folders
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# coverage
coverage/